.v-list-group__items {
	margin-left: 20px;
}
.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
	margin-right: 10px;
}
.v-list-item__icon {
	align-self: center;
}
.v-application a {
    color: #fcfcfc !important;
}

html {
    overflow: auto
}